SIDiM/bin/AndroidManifest.xml
SIDiM/bin/SIDiM.apk
SIDiM/bin/classes.dex
SIDiM/bin/classes/com/kots/sidim/android/BuildConfig.class
SIDiM/bin/classes/com/kots/sidim/android/R$attr.class
SIDiM/bin/classes/com/kots/sidim/android/R$color.class
SIDiM/bin/classes/com/kots/sidim/android/R$dimen.class
SIDiM/bin/classes/com/kots/sidim/android/R$drawable.class
SIDiM/bin/classes/com/kots/sidim/android/R$id.class
SIDiM/bin/classes/com/kots/sidim/android/R$layout.class
SIDiM/bin/classes/com/kots/sidim/android/R$menu.class
SIDiM/bin/classes/com/kots/sidim/android/R$string.class
SIDiM/bin/classes/com/kots/sidim/android/R$style.class
SIDiM/bin/classes/com/kots/sidim/android/R.class
SIDiM/bin/classes/com/kots/sidim/android/activities/ConfiguracoesActivity.class
SIDiM/bin/classes/com/kots/sidim/android/activities/CriarContaActivity$1.class
SIDiM/bin/classes/com/kots/sidim/android/activities/CriarContaActivity$2.class
SIDiM/bin/classes/com/kots/sidim/android/activities/CriarContaActivity.class
SIDiM/bin/classes/com/kots/sidim/android/activities/LoginActivity$1.class
SIDiM/bin/classes/com/kots/sidim/android/activities/LoginActivity.class
SIDiM/bin/classes/com/kots/sidim/android/activities/MainBarActivity$ClickListenerForScrolling.class
SIDiM/bin/classes/com/kots/sidim/android/activities/MainBarActivity$SizeCallbackForMenu.class
SIDiM/bin/classes/com/kots/sidim/android/activities/MainBarActivity.class
SIDiM/bin/classes/com/kots/sidim/android/activities/MenuPrincipalActivity$1.class
SIDiM/bin/classes/com/kots/sidim/android/activities/MenuPrincipalActivity.class
SIDiM/bin/classes/com/kots/sidim/android/activities/SplashActivity$1$1.class
SIDiM/bin/classes/com/kots/sidim/android/activities/SplashActivity$1.class
SIDiM/bin/classes/com/kots/sidim/android/activities/SplashActivity.class
SIDiM/bin/classes/com/kots/sidim/android/config/ConfigGlobal.class
SIDiM/bin/classes/com/kots/sidim/android/config/ValidacaoGeral.class
SIDiM/bin/classes/com/kots/sidim/android/views/MyHorizontalScrollView$MyOnGlobalLayoutListener$1.class
SIDiM/bin/classes/com/kots/sidim/android/views/MyHorizontalScrollView$MyOnGlobalLayoutListener.class
SIDiM/bin/classes/com/kots/sidim/android/views/MyHorizontalScrollView$SizeCallback.class
SIDiM/bin/classes/com/kots/sidim/android/views/MyHorizontalScrollView.class
SIDiM/bin/jarlist.cache
SIDiM/bin/res/drawable-hdpi/ic_action_search.png
SIDiM/bin/res/drawable-hdpi/ic_launcher.png
SIDiM/bin/res/drawable-ldpi/ic_launcher.png
SIDiM/bin/res/drawable-mdpi/ic_action_search.png
SIDiM/bin/res/drawable-mdpi/ic_launcher.png
SIDiM/bin/res/drawable-mdpi/sidimsplash.png
SIDiM/bin/res/drawable-xhdpi/ic_action_search.png
SIDiM/bin/res/drawable-xhdpi/ic_launcher.png
SIDiM/bin/res/drawable/login.png
SIDiM/bin/res/drawable/logopadua.png
SIDiM/bin/res/drawable/menu.png
SIDiM/bin/res/drawable/senha.png
SIDiM/bin/resources.ap_
SIDiM/gen/com/kots/sidim/android/BuildConfig.java
SIDiM/gen/com/kots/sidim/android/R.java
